.homePage {
  display: grid;
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  grid-template-areas: 
    "map toc";
  grid-template-columns: 1.6fr 1fr;
  height: 100vh;
}

@media (max-width: 1000px) {
  .homePage {
    grid-template-areas:
      "map"
      "toc";
    grid-template-columns: none;
    grid-template-rows: 1.25fr 1fr;
  }
}
