* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#covidButton {
  margin: 0em 5em;
}

.noUi-value {
  margin-top: 5px;
}
