.ghCheckboxList {
  grid-area: ghCheckboxList;
}

.ghCheckboxList {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(160px, .75fr)); */
  /* grid-column-gap: 15px; */
  /* justify-content: center; */
}

.ghCheckboxList label {
  display: block;
  padding: 5px;
}

.ghCheckboxList label input {
  margin-right: 5px;
}
