.MuiTableBody-root {
	word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.MuiDialogContent-root {
    background-color: #262626;
	padding-top: 0px;
}

.hello {
    background-color: #262626;
}

.table-row {
    color: white
}

.white-text {
    color: "white"
}