.sideMenu {
  display: grid;
  grid-template-areas:
    ". smheader ."
    ". smform ."
    ". smcharts .";
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 1fr 1fr 6fr;
  overflow-y: auto;
}

