.sideMenu {
  background: #efefef;
  display: grid;
  grid-area: toc;
  grid-template-areas:
    ". smheader ."
    ". ghCheckboxList .";
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 60px 1fr;
}

.sideMenu__header {
  font-weight: 800;
  justify-self: center;
  align-self: center;
  grid-area: smheader;
}
