#mapWrapper {
  grid-area: map;
}

.leaflet-popup-pane { /* Allow the mouse to stay over the popup without causing a mouseOut event */
	pointer-events: none;
}

.show-state {
	stroke: rgb(227, 255, 255);
	z-index: 1;
}